.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    width: 90%;
    max-width: 1000px;
    color: white;
    border-radius: 5px;
}

.header-content {
    position: sticky;
    top: 50px;
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;
}

.header-text {
    padding: 15px;
    line-height: 35px;
    font-size: 35px;
}

.nominate-button {
    font-size: 16px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--button-color);
    padding: 7px;
    border-radius: 3px;
}

.nominate-button:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}

.body-content {
    background-color: var(--navbar-hover);
    color: black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--text-color);
}

.nominee-content {
    background-color: var(--button-color);
    padding: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nominee-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}

.nominator-comment {
    font-size: 14px;
}

.nominator-name {
    font-size: 14px;
    color: var(--text-hover);
}

@media(max-width: 950px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .header-text {
        font-size: 18px;
        line-height: 18px;
        padding: 8px;
    }

    .nominate-button {
        font-size: 10px;
        padding: 4px;
    }

    .nominate-button {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 8px;
    }

    .nominee-title-container {
        font-size: 18px;
    }
}