.home-container {
    width: 100vw;
    height: 100vh;
    background: rgb(56,99,160);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.logo-spinner {
    height: 370px;
    width: 370px;
    position: relative;
}

.logo-spinner>div {
    height: 100%;
    width: 100%;
}

.login-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-buttons>div {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    height: 60px;
    width: 200px;
    margin: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.login-buttons>div:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.smrc-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    line-height: 85px;
    font-size: 100px;
    color: #66cda3;
    font-weight: 500;
}

#rotationDiv {
    z-index: 1;
    position: absolute;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}