:root {
    --background-color: #1E1E1E;
    --navbar-color: #2C2F33;
    --navbar-hover: #40444B;
    --border-color: #4F545C;
    --navbar-active: #B84730;
    
    --text-color: #E4E6EB;
    --text-hover: #B0B3B8;
    --text-active: #D65A31;

    --button-color: #A33D2E;
    --button-hover: #D65A31;
}

html {
    background-color: var(--background-color);
}

#root>div {
    height: 100%;
    width: 100%;
}