:root {
    --background-color: #1E1E1E;
    --navbar-color: #2C2F33;
    --navbar-hover: #40444B;
    --border-color: #4F545C;
    --navbar-active: #B84730;
    
    --text-color: #E4E6EB;
    --text-hover: #B0B3B8;
    --text-active: #D65A31;

    --button-hover: #D65A31;
}

html {
    background-color: var(--background-color);
}

#root>div {
    height: 100%;
    width: 100%;
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 6px solid white;
    border-top: 6px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
